<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- pageTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__linkList">
          <li class="main-header__listItem"><a href="/">Home</a></li>
          <li class="main-header__listItem"><a class="active" href="/shop">Shop</a></li>
          <li class="main-header__listItem"><a href="/story">Our Story</a></li>
        </ul>
      </nav>
  </header>

  <main>
    <h1>Products</h1>
  </main>
  
</body>
</html>