<%- include('../includes/head.ejs') %>
</head>
<body>
  
<%- include('../includes/navigation.ejs')%>

  <main>
    <br>
    <h1>Products</h1>
    <br>
    <div class="grid">
      <% for(let i = 0; i < 9; i++) { %>
        <article class="card product-item">
          <header class="card__header">
            <h5 class="product-name">Product name</h5>
          </header>
          <div class="card__image">
            <img src="https://cdn.pixabay.com/photo/2012/12/13/18/50/tree-frog-69813_960_720.jpg" alt="Frog">
          </div>
          <div class="card__content">
            <!-- <p class="product__description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id blanditiis quae mollitia veritatis illo nisi ex provident? Voluptatum voluptate consequatur itaque quaerat soluta placeat earum, cupiditate pariatur nobis. Aliquid, molestias.
            </p> -->
            <h6 class="product__price">120.99 usd</h6>
          </div>
          <div class="card__actions">
            <button class="btn">Add to cart</button>
          </div>
        </article>
      <% } %>
    </div>
  </main>
  
<%- include('../includes/end.ejs') %>